<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="common.android"
          android:versionCode="1"
          android:versionName="1.1406.131">
    <!--
        Major.miner.yymm.ddq
            Major : Major version
            miner : Minor version
            yy : 2-digit year
            mm : 2-digit month
            dd : 2-digit day
            q : 1-digit daily sequential number

        example
            1.0.1401.132
                1.0
                built at 2014-01-13
                second version
    -->
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="common.android.permission.C2D_MESSAGE" />
    <permission android:name="common.android.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <application android:label="@string/app_name" android:icon="@drawable/logo" android:largeHeap="true">

        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ActivitySplash" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ActivityMain" android:label="@string/app_name" />

        <activity android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".ActivityReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <meta-data android:name="common.android.MetaData.isDev" android:value="true"/>



        <!-- GCM 리시버 -->
        <receiver
                android:name="com.google.android.gcm.GCMBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="common.android" /> <!-- 젤리빈 부터는 category 빼도 된다 -->
            </intent-filter>
        </receiver>

        <!-- GCM 리시버에서 돌리는 서비스 -->
        <service android:name=".GCMIntentService" /><!-- 서비스명 변경하면 안됨 -->





    </application>

</manifest>
